<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apply</title>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{style.css}">

</head>
<body>
<header>
    <h1>나의 멋진 홈페이지</h1>
</header>
<nav>
    <a href="/">홈</a>
    <a href="/webmail">이메일</a>
    <a href="/overworkMain">초과근무</a>
    <a href="/totalAdmin">연통</a>
    <a href="/humanResource/humanResourceMain">국인체</a>
    <a href="/map">지도</a>
</nav>

<main>
    <h2>환영합니다!</h2> <h2 th:text></h2>
    <form method="post" action="/overworkStart">
        <ul th:each="list : ${lists}">
            <td>아이디 =  <span th:text="${list.id}"></span></td>
            <td>신청내용 =  <span th:text="${list.content}"></span></td>
            <td>신청날짜 =  <span th:text="${list.date}"></span></td>
            <td>신청시간 =  <span th:text="${list.time}"></span></td>
            <td>사용자 =  <span th:text="${list.username}"></span></td>
            <td>시작여부 =  <span th:text="${list.start}"></span></td>
        </ul>
        <div th:if="${start == false}">
            <button type="submit">시작</button>
            <button type="submit">취소</button>
        </div>
    </form>
    <form method="post" action="/overworkEnd">
        <div th:if="${start == true}">
            <button type="submit">종료</button>
            <button type="submit">취소</button>
        </div>
    </form>


</main>

</body>
</html>