<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>연통 추가페이지</title>
</head>
<body>
<h1>입력</h1>
<form method="post" action="/totalInfoAdd">
    <table >
        <tr>
            <td>이름 : </td>
            <td><input type="text" id="name" name="name"></td>
        </tr>
        <tr>
            <td>나이 : </td>
            <td><input type="text" id="age" name="age"></td>
        </tr>
        <tr>
            <td>성별 : </td>
            <td><input type="text" id="gender" name="gender"></td>
        </tr>
        <tr>
            <td>전화번호 : </td>
            <td><input type="text" id="phoneNum" name="phoneNum"></td>
        </tr>
        <tr>
            <td>이메일 : </td>
            <td><input type="text" id="email" name="email"></td>
        </tr>
        <tr>
            <td>직업 : </td>
            <td><input type="text" id="job" name="job"></td>
        </tr>
        <tr>
            <td>경력 : </td>
            <td><input type="text" id="carrer" name="carrer"></td>
        </tr>
        <tr>
            <td>부서 : </td>
            <td><input type="text" id="department" name="department"></td>
        </tr>
    </table>
    <button type="submit"></button>
</form>
</body>
</html>