<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>연통</title>
    <link rel="stylesheet" href="../../static/css/totalAdmin.css" th:href="@{totalAdmin.css}">
</head>

<body>
<header>
    <h1>연통</h1>
</header>
<nav>
    <a href="/">홈</a>
    <a href="/webmail">이메일</a>
    <a href="/overworkMain">초과근무</a>
    <a href="/totalAdmin/totalAdminMain">연통</a>
    <a href="/humanResource/humanResourceMain">국인체</a>
    <a href="/map">지도</a>
</nav>

<main class="totalInfo">
    <form method="get" action="/totalInfoAddForm">
        <table>
            <thead>
                <tr >
                    <th>#</th>
                    <th>이름</th>
                    <th>직업</th>
                    <th>경력</th>
                    <th>부서</th>
                </tr>
            </thead>
            <tbody th:each="list : ${lists}">
                <tr onclick="location.href=`/personalDetail`">
                    <td></td>
                    <td th:text = "${list.getName()}"></td>
                    <td th:text = "${list.getJob()}"></td>
                    <td th:text = "${list.getCarrer()}"></td>
                    <td th:text = "${list.getDepartment()}"></td>
                </tr>
                <button type="submit" >추가하기</button>
                <a href="/personalDetail"> 얘는 되냐</a>
            </tbody>
        </table>
    </form>
</main>

<footer>
    <p>&copy; 2024 나의 멋진 홈페이지. 모든 권리 보유.</p>
</footer>

</body>
<!--<script src="overtime.js"></script>-->

</html>
