<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 멋진 홈페이지</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{style.css}">

</head>
<body>
<header>
    <h1>나의 멋진 홈페이지</h1>
</header>

<nav>
    <a href="#home">홈</a>
    <a href="#about">소개</a>
    <a href="#services">서비스</a>
    <a href="#contact">연락처</a>
</nav>

<main>
    <h2 th:text = "${member.username}"></h2> <h2 >님 환영합니다!</h2>
    <p>여기에 홈페이지 내용을 입력하세요.</p>
<!--    <a href="/members">회원 목록</a>-->
    <a th:href="@{/apply}">초과근무 신청</a>
    <a href="/start_end">초과근무 시작/종료</a>

</main>

<footer>
    <p>&copy; 2024 나의 멋진 홈페이지. 모든 권리 보유.</p>
</footer>

</body>
<!--<script src="overtime.js"></script>-->

</html>
