<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 멋진 홈페이지</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{style.css}">

</head>
<body>
<header>
    <h1>나의 멋진 홈페이지</h1>
</header>

<nav>
    <a href="/">홈</a>
    <a href="/webmail">이메일</a>
    <a href="/overwork/overworkMain">초과근무</a>
    <a href="/totalAdmin/totalAdminMain">연통</a>
    <a href="/humanResource/humanResourceMain">국인체</a>
    <a href="/map">지도</a>
</nav>

<footer>
    <p>&copy; 2024 나의 멋진 홈페이지. 모든 권리 보유.</p>
</footer>

</body>
<!--<script src="overtime.js"></script>-->

</html>
