<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apply</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{style.css}">

</head>
<body>
<header>
    <h1>나의 멋진 홈페이지</h1>
</header>
<nav>
    <a href="#home">홈</a>
    <a href="#about">소개</a>
    <a href="#services">서비스</a>
    <a href="#contact">연락처</a>
</nav>
<main>
    <h2>환영합니다!</h2> <h2 th:text></h2>

    <form action="/applyRecord" id="apply-form" method="post">
        <div class="container" >
            <div class="box">이름</div>
            <div class="text-box" th:text = "${username}"></div>
            <div class="box">신청일</div>
            <div class="text-box" th:text = "${date}" id = "date" name = "date"></div>
            <div class="box">신청 내용</div>
            <div class="text-box"><input type="text" id="content" name="content" required></div>
            <button type="submit">신청하기</button>
        </div>

    </form>

</main>

</body>
</html>