<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Client</title>
    <link rel="stylesheet" href="../static/webmail.css" th:href="@{webmail.css}">
</head>

<header>
    <h1>나의 멋진 홈페이지</h1>
</header>

<nav>
    <a href="/">홈</a>
    <a href="/webmail">이메일</a>
    <a href="/overworkMain">초과근무</a>
    <a href="/totalAdmin">연통</a>
    <a href="/humanResource/humanResourceMain">국인체</a>
    <a href="/map">지도</a>
</nav>

<main>
    <h2>환영합니다!</h2>
    <p>여기에 홈페이지 내용을 입력하세요.</p>

    <div class="login-box">
        <h3>웹메일</h3>
        <form action="/mail" method="post">

            <input type="email" id="address" name="address" placeholder="To" required>
            <input type="text" id="title" name="title" placeholder="Subject(Title)" required>
            <textarea id="message" name="message" rows="5" placeholder="Message" required></textarea>

            <button type="submit">발송</button>
        </form>
    </div>
</main>

<footer>
    <p>&copy; 2024 나의 멋진 홈페이지. 모든 권리 보유.</p>
</footer>
</html>
